<section class="forgot-container">
  <div class="forgot-box">
      <h2>Recuperar contraseña</h2>
      <p>Introduce tu correo y te enviaremos un enlace para restablecer tu contraseña.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="enviarFormulario()">
          <div class="input-group">
              <label for="email">Correo electrónico:</label>
              <input id="email" formControlName="email" type="email" placeholder="ejemplo@correo.com">
          </div>
          <button type="submit" class="forgot-btn" [disabled]="forgotPasswordForm.invalid">Enviar</button>
      </form>

      <p *ngIf="mensaje" class="message">{{ mensaje }}</p>
  </div>
</section>
